{% extends "base.html" %}
{% block body %}
<div class="container">
    <header>
        <div class="pull-right js-menu">
            <a href="/logout">
                <i class="fa fa-sign-out"></i> Sign out
            </a>
        </div>
        <img src="/images/logo.png" alt="Todo app" />
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input class="add-task" type="text" placeholder="Add a task to your list" />
        </div>
    </div>
</div>
<div class="container task-list">
    <div class="row">
        <div class="col-md-12">
            <div class="task-wrapper">
                <div class="pull-right date-and-indicators">
                   <i class="fa fa-file-text-o"></i> <i class="fa fa-paperclip"></i> <span class="date hidden-sm hidden-xs">10 October, 2014</span>
                </div>
                <a href="#" class="tick"><i class="fa fa-check-square-o"></i></a><span class="title">Qwerty1234</span>
            </div>
        </div>
    </div>
</div>
<div class="container task-list">
    <div class="row">
        <div class="col-md-12">
            <div class="task-wrapper">
                <div class="task">
                    <div class="pull-right date-and-indicators">
                       <i class="fa fa-file-text-o"></i> <i class="fa fa-paperclip"></i> <span class="date hidden-sm hidden-xs">10 October, 2014</span>
                    </div>
                    <a href="#" class="open"><i class="fa fa-square-o"></i></a><span class="title">Qwerty1234</span>
                </div>
                <div class="task-details">
                    <input type="text" class="description" placeholder="Add a description"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% block content %} {% endblock %}
</div>
<script type="text/javascript" src="/scripts/main.js"></script>
{% block scripts %} {% endblock %}
{% endblock %}
