{% extends "base.html" %}
{% block body %}
<div class="container">
    <header>
        <div class="pull-right js-menu">
            <a href="/logout">
                <i class="fa fa-sign-out"></i> Sign out
            </a>
        </div>
        <img src="/images/logo.png" alt="Todo app" />
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="new-todo" role="form" data-api="/task/new">
                <input name="title" class="add-task" type="text" placeholder="Add a task to your list" />
            </form>
        </div>
    </div>
</div>
<div class="container task-list">
    {% if hasTodos %}
        {% for todo in todos %}
            {% include "todoItem.html" with todo %}
        {% endfor %}
    {% endif %}
</div>
<script type="text/javascript" src="/scripts/main.js"></script>
{% endblock %}
