<div class="sub-task">
    {% if !stask.done %}
    <form class="frm-sub-task-complete" style="display: inline;" data-api="/subtask/complete">
        <input type="hidden" name="stid" value="{{stask.id}}"/>
        <a href="#" onclick="$(this).submit();">
        <i class="fa fa-square-o"></i></a>
    </form>
    <p class="sub-task">{{stask.title}}</p>
    {% else %} 
        <a href="#" onclick="return false;"><i class="fa fa-check-square-o"></i></a><p class="sub-task">{{stask.title}}</p>
    {% endif %}
</div>