{% for todo in todos %}
<div class="row" data-tid="{{todo.id}}">
  <input type="checkbox" class="task-complete"/>
  <label>{{todo.title}}</label>
  <span>{{todo.createdAt|date('F jS')}}</span>
  <pre>{{todo.content}}</pre>

{% if todo.hasSubTasks %}
  <h4>Subtasks</h4>
  {% for st in todo.SubTasks %}
  <div class="row-fluid">
    {% if st.done %}
    <input type="checkbox" checked="checked" disabled="disabled" data-stid="{{st.id}}" class="subtask-complete"/>
    <label style="text-decoration: line-through;">{{ st.title }}</label>
    {% else %}
    <input type="checkbox" data-stid="{{st.id}}" class="subtask-complete"/>
    <label>{{ st.title }}</label>
    {% endif %}
  </div>
  {% endfor %}
{% endif %}

  <div class="row-fluid">
    <div class="row-fluid">
      <a class="add-subtask" data-tid="{{todo.id}}"><i class="glyphicon glyphicon-plus"></i> Add subtask</a>
    </div>
    <div class="row-fluid" style="display: none;">
      <div class="col-sm-4">
	<form class="add-subtask">
	  <input type="hidden" name="tid" value="{{todo.id}}"/>
	  <div class="">
	    <input class="form-control" type="text" name="title" placeholder="Subtask title"/>
	  </div>
	  <button type="submit" class="btn btn-default" style="display: none;">Add</button>
	</form>
      </div>
    </div>
  </div>
</div>
<br/>
{% endfor %}
